@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    display: none;
}
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }

  .option {
    text-align: center;
    width: 45%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    overflow: hidden;
  }

  .option:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .option p {
    color: #666;
  }
  .option h2 {
    color: #333;
  }


  .option a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }

  .option a:hover {
    background-color: #555;
  }
